- var TITLE = `LunchVue ─ 전국 학교 식단표`
- var DESCIRIPTION = `우리 학교 급식 식단표를 빠르고 쉽게 확인하세요.`
block variables

doctype html
html(lang='ko')
  head
    title #{TITLE}
    //- Required meta tags always come first
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no')
    //-
      Order tot index this document and to track links within it so all bots.
      Also instruct the googlebot does not translate this so as to keep ko-KR
    meta(name='robots' content='index,follow')
    meta(name='google' content='notranslate')
    //-
      To prevent duplicate URLs, specify a standard page,
      and set dns-prefetch to improve the speed of redirects
    link(rel='canonical' href=URL)
    link(rel='dns-prefetch' href='//kurosnape.github.io')
    link(rel='dns-prefecth' href='//stackpath.bootstrapcdn.com')
    link(rel='dns-prefecth' href='//fonts.googleapis.com')
    //-
      Declare an app manifest to app can:
      - Have a rich presence on the user's Android home screen
      - Be launched in full-screen mode on Android with no URL bar
      - Control the screen orientation for optimal viewing
      - Define a "splash screen" launch experience and theme color for the site
      - Track whether you're launched from the home screen or URL bar
    link(rel='manifest' href='/assets/manifest.json')
    link(rel='shortcut icon' href='/assets/favicon.ico')
    link(rel='apple-touch-icon' sizes='57x57' href='/assets/apple-touch-icon.x57.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/assets/apple-touch-icon.x72.png')
    link(rel='apple-touch-startup-image' href='/assets/apple-touch-splash.png')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content=TITLE)
    //- To work native web
    meta(property='og:locale' content='ko_KR')
    meta(property='og:site_name' content=TITLE)
    meta(property='og:url' content=URL)
    meta(name='author' content='Kurosnape')
    meta(name='description' content=DESCRIPTION)
    meta(property='og:title' content=TITLE)
    meta(property='og:description' content=DESCRIPTION)
    meta(property='og:image' content=`${BASE_URL}assets/splash.png`)
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@Kurosnape')
    meta(name='twitter:creator' content='@Kurosnape')
    meta(name='twitter:title' content=TITLE)
    meta(name='twitter:description' content=DESCRIPTION)
    meta(name='twitter:image' content=`${BASE_URL}assets/splash.png`)
    script(type='application/ld+json')
      | {
      |   "@context": "https://schema.org",
      |   "@type": "WebSite"
      |   "name": "#{TITLE}",
      |   "description": "#{DESCRIPTION}"
      |   "author": "Kurosnape",
      |   "image": "#{BASE_URL}assets/splash.thumb.png",
      |   "url": "#{BASE_URL}"
      | }
    //- Stylesheets & Scripts
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Do+Hyeon|Poor+Story")
    link(rel="stylesheet", href="assets/app.css")
    script(src="assets/jquery.min.js")
    script(src="assets/bootstrap.min.js")
    script(src="assets/bundle.js")
  body
    main
      section#preloader
        .spinner
          i
          i
          i
          i
          i
          i
          i
      section#alert-zone
      section#main
        header
          .container-fluid
            .row
              .header.col
                .header-title.col
                  h1 전국 학교 식단표
              .w-100
              .nav.col
                ul
                  li.col 조식
                  li.col 중식
                  li.col 석식
        block content
        footer
          .container
            .row
              .footer-title.col
                i.fa.fa-fw.fa-suitcase.mr-2
                span.title [##__TITLE__##]
              .footer-meta.text-right.col
                span.date [##__DATE__##]
                span.prev
                  i.fa.fa-fw.fa-chevron-left
                span.next
                  i.fa.fa-fw.fa-chevron-right